@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Bio</h2>
            <p>
               I am Thabang. I had no previous knowledge of programming prior to coming to university.

                But I have always been intrigued by computers and how they work, watching movies like Terminator fueled my desire to learn more.

                Last year, which was 2020 I learned how to code in Visual Studios using a programming language called C# which was very fun.

                Now I have learned HTML, Bootstrap and Javascript in INF 272
            </p>
            
        </div>

        <div class="col-md-4">
            <h2>ME</h2>
            <img src="~/Media/Images/EWu_z_XXkAERY8e.jpg" alt="Avatar" style="width:300px;height:300px;" />
           
        </div>

    </div>
</div>

